@import '../../node_modules/hotcss/src/px2rem.scss';
$designWidth : 750; 

body{
	width: 16rem;
	margin: 0 auto;
	padding: 0;
}
.header{
	height: px2rem(200);
	line-height: px2rem(200);
	text-align:center;
	font-size: px2rem(36);
	color: #434343;
	background-color: gray;
	border-bottom: px2rem(20) solid #ECEDF1;	
}
.content{
	height: px2rem(207);
	line-height: px2rem(207);
	text-align: center;
	font-size: px2rem(32);
	color: red;
	background-color: purple;
	border-bottom:px2rem(40) solid #ECEDF1;			
}
.footer{
	height: px2rem(80);
	line-height: px2rem(80);
	font-size: px2rem(36);
	color: #FFFFFF;
	background-color: #52B4FF;
	text-align: center
	
}